body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #fbecec; /* white header */
    color: #fff; /* White text */
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: left; /* change align-items center to left */
    padding: 20px;
}

section {
    background-color: #fff; /* White sections */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}
h1, h2 {
    color: #000000; /* black headings */
}

.intro {
    background-image: linear-gradient(to bottom, #f7f7f7, #fff); /* Gradient background */
}

.interests {
    background-image: linear-gradient(to bottom, #ffe6cc, #fff); /* Warm gradient */
}

.reflection {
    background-image: linear-gradient(to bottom, #c9e4ca, #fff); /* Calming gradient */
}

.call-to-action {
    background-image: linear-gradient(to bottom, #ffd7be, #fff); /* Vibrant gradient */
}

p {
    color: #444; /* Dark gray text */
    line-height: 1.5; /* Spacious text */
}